In [5]:
%load_ext bigquery_magics

The bigquery_magics extension is already loaded. To reload it, use:
  %reload_ext bigquery_magics

# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information from over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 20 years ago. So if today is 1 April 2025 then the weather we want to forecast is for the 2 April 2005. You are supposed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to use BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck in the first part, you can use the replacement data provided in the second part.

In [6]:
%%bigquery --project coding-challenge-459917
SELECT
*,
FROM `bigquery-public-data.samples.gsod`
LIMIT 20

Query is running:   0%|          |

Downloading:   0%|          |

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,36010,99999,1929,12,6,49.500000,4,47.500000,4,983.200012,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
1,36010,99999,1929,10,7,53.200001,4,49.099998,4,1002.299988,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
2,38940,99999,1929,10,14,53.000000,4,50.700001,4,1030.699951,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
3,33790,99999,1929,10,18,46.799999,4,41.500000,4,1009.200012,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
4,30750,99999,1929,11,24,46.700001,4,43.200001,4,989.000000,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
5,30050,99999,1929,12,1,45.700001,4,42.799999,4,991.599976,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
6,38940,99999,1929,11,29,54.200001,4,51.799999,4,1001.000000,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
7,33790,99999,1929,10,3,52.500000,4,39.299999,4,998.599976,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
8,33110,99999,1929,10,28,52.200001,4,47.299999,4,1003.400024,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
9,32620,99999,1929,11,3,44.599998,5,40.599998,4,1021.200012,...,NaN,<NA>,0.01,NaN,False,False,False,False,False,False
10,39800,99999,1929,11,24,46.099998,5,39.700001,4,985.799988,...,NaN,<NA>,0.02,NaN,False,False,False,False,False,False
11,34970,99999,1929,11,15,30.600000,5,28.299999,4,1002.299988,...,NaN,<NA>,0.00,NaN,True,True,True,True,True,True
12,38040,99999,1929,10,11,57.000000,5,54.200001,4,1029.400024,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
13,34970,99999,1929,10,10,49.400002,5,44.200001,4,1021.799988,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
14,38560,99999,1930,12,11,49.700001,4,45.299999,4,996.000000,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
15,30050,99999,1930,2,20,41.500000,4,36.000000,4,1024.099976,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
16,37950,99999,1930,12,31,45.200001,4,43.500000,4,981.000000,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
17,37770,99999,1930,10,24,46.299999,4,39.200001,4,1003.500000,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
18,37950,99999,1930,12,3,40.799999,4,38.200001,4,1026.000000,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
19,33790,99999,1930,2,2,41.000000,4,40.000000,4,987.000000,...,NaN,<NA>,NaN,NaN,True,True,True,True,True,True

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2000 till 2005 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

In [10]:
%%bigquery --project coding-challenge-459917
SELECT 
*,
FROM `bigquery-public-data.samples.gsod`
WHERE (year BETWEEN 2000 AND 2005)
  AND (station_number BETWEEN 725300 AND 726300)
LIMIT 20;

Query is running:   0%|          |

Downloading:   0%|          |

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,725868,99999,2000,4,7,37.900002,4,21.200001,4,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
1,725835,99999,2000,1,10,47.299999,4,26.600000,4,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
2,725786,99999,2000,6,11,69.800003,4,45.000000,4,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
3,725827,99999,2000,9,6,44.200001,4,25.200001,4,1018.400024,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
4,725827,99999,2000,11,7,17.100000,4,-7.200000,4,1019.400024,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
5,725786,99999,2000,2,29,41.700001,5,33.400002,5,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
6,725985,99999,2000,9,19,82.400002,5,55.799999,5,1014.000000,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
7,725468,99999,2000,1,31,14.900000,6,9.200000,6,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
8,726064,99999,2000,11,2,47.299999,6,29.600000,6,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
9,725826,99999,2000,3,17,35.299999,6,30.200001,6,NaN,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
10,725869,99999,2000,9,4,54.799999,6,38.900002,6,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
11,725985,99999,2000,11,12,44.000000,6,35.900002,6,1025.599976,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
12,725835,99999,2000,11,3,47.400002,7,23.799999,7,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
13,725835,99999,2000,11,9,34.099998,7,26.299999,7,NaN,...,NaN,<NA>,0.16,NaN,False,False,False,False,False,False
14,725786,99999,2000,11,27,37.400002,7,31.700001,7,NaN,...,NaN,<NA>,NaN,NaN,True,True,True,True,True,True
15,725826,99999,2000,2,13,34.599998,7,32.799999,7,NaN,...,NaN,<NA>,NaN,1.2,False,False,False,False,False,False
16,725868,99999,2000,3,1,33.000000,7,28.900000,7,NaN,...,NaN,<NA>,0.00,1.2,False,False,False,False,False,False
17,725985,99999,2000,2,25,49.000000,7,42.500000,7,1016.599976,...,NaN,<NA>,0.02,NaN,False,False,False,False,False,False
18,725827,99999,2000,2,13,28.700001,7,11.700000,7,1006.299988,...,NaN,<NA>,0.04,18.9,False,False,False,False,False,False
19,725985,99999,2000,12,25,49.000000,7,37.400002,7,1024.900024,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False

### 2. Task 
From here you want to work with the data from all stations 725300 to 725330 that have information from 2000 till 2005.

In [ ]:
%%bigquery

Start by checking which year received the most snowfall in our data.

In [ ]:
%%bigquery

Add an additional field that indicates the daily change in snow depth measured at every station. And identify the station and day for which the snow depth increased the most.

In [ ]:
%%bigquery

Do further checks on the remaining dataset, clean or drop data depending on how you see appropriate.

### 3. Task
Now it is time to split the data, into a training, evaluation and test set. As a reminder, the date we are trying to predict snow fall for should constitute your test set.

In [ ]:
import datetime as dt

str(dt.datetime.today()- dt.timedelta(days=20*365)).split(' ')[0]

## Part 2
If you made it up to here all by yourself, you can use your prepared dataset to train an algorithm of your choice to forecast whether it will snow on the following date for each station in this dataset:

In [ ]:
import datetime as dt

str(dt.datetime.today()- dt.timedelta(days=20*365)).split(' ')[0]

You are allowed to use any library you are comfortable with such as sklearn, tensorflow, keras etc. 
If you did not manage to finish part one feel free to use the data provided in 'coding_challenge.csv' Note that this data does not represent a solution to Part 1.